.aj{font-size: xx-large; background-color: rgb(165, 126, 42);}
#pk{text-decoration: solid; text-transform: uppercase;}
.jungle{text-decoration: line-through; font-family: 'Times New Roman', Times, serif;}